{% extends 'base.html' %}

{% block content %}

    <h2>Add new book</h2>
    <form method="post">
        {% csrf_token %}
        <h3>{{ form.author.label }}:</h3>
            {{ form.author }}<br />
            <a href="{% url 'add_author' %}">The author is not on the list?</a>
        <h3>{{ form.title.label }}:</h3>
            {{ form.title }}
        <h3>{{ form.description.label }}:</h3>
            {{ form.description }}
        <h3>{{ form.category.label }}:</h3>
            {{ form.category }}
        <br />
        <button type="submit">Add</button>
    </form>

{% endblock %}