{% extends 'base.html' %}

{% block content %}

    <form method="get">
        {{ category_filter.form}}
        <button type="submit">Filter</button>
    </form>

    <ul>
    {% if  category_filter.qs %}
        {% for book in category_filter.qs %}
            <h2>{{ book.title }}</h2>
            {% for author in book.author.all %}
                    <br />{{ author.name }}
            {% endfor %}
            <br />
            <b>Kategoria: </b>
            {% if book.category.all %}
                {% for category in book.category.all %}
                    {{ category.name |lower}},
                {% endfor %}
            {% else %}
                no categories
            {% endif %}
            <p>{{ book.description }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No matching entry was found</p>
    {% endif %}
  </ul>


{% endblock %}